[Unit]
Description=Remove SingletonLock from Google Chrome config.

[Service]
Type=simple
ExecStart=/bin/bash rmSingletonLock

[Install]
WantedBy=multi-user.target
